@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html, body {
    background-color: #333f36;
    overflow: auto;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
  }
  
  .App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .App-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .higher-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px; /* Adds rounded corners */
  }
  
  .higher-button:hover {
    background-color: rgb(4, 100, 7); 
    color: white; 
    border: 2px solid #4CAF50;
    border-radius: 12px; /* Adds rounded corners */
  }

  .lower-button {
    background-color: #af4c4c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px; /* Adds rounded corners */
  }
  
  .lower-button:hover {
    background-color: rgb(120, 4, 4); 
    color: white; 
    border: 2px solid #af4c4c;
    border-radius: 12px; /* Adds rounded corners */
  }
  
  
  .game-container {
    display: flex;
    justify-content: space-around;
  }
  
  .score-card {
    width: 200px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
  }

  .song-card {
    width: 200px;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 10px;
    margin: 40px 70px;
  }
  
  .song-card img {
    width: 100%;
  }
  
  .correct .game-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: url('/img/checkmark.png') no-repeat center;
    animation: checkmark 1s ease-in-out forwards;
  }
  
  @keyframes checkmark {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(1.5);
    }
  }
