html,
body {
  background-color: #443646;
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #443646, #2b2437);
  font-family: 'Roboto', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1;
}

.game-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding-bottom: 50px;
  overflow-x: auto;
  align-items: center;
}

.score-card {
    background: rgba(255, 255, 255, 0.1);
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  box-shadow: 0px 3px 6px #000;
}

.song-card {
  width: 200px;
  margin: 0 120px; /* Adjust the margin as needed */
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display:block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 6px 9px #000;
}


.song-card img {
  width: 100%;
}

.lower-button {
  background-color: #ab3333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #000;
}

.higher-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #000;
}

.lower-button:hover {
  background-color: rgb(100, 4, 4);
  color: white;
  border: 2px solid #ab3333;
  border-radius: 12px;
}

.higher-button:hover {
  background-color: rgb(4, 100, 7);
  color: white;
  border: 2px solid #4CAF50;
  border-radius: 5px;

}

.count {
  position: relative;
  margin: 40px 0;
  padding: 14px 16px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  border-radius: 4px;
  display: inline-block;
  background: rgba(255,255,255,0.1);
}

.container {
  flex: 1;
  overflow-y: auto;
  position: relative;
  height: 100%;
}

.logout-button {
  background-color: #83748c;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  padding: 10px 20px;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #000;
}

  .u-font-normal {
    font-size: 80px;
  }
  
  .c-markicon {
    width: 1em;
    height: 1em;
    position: relative;
    margin: .1em auto;
    vertical-align: top;
  }
  
  .checkmark {
    fill: none;
    stroke: #36b274;
    stroke-width: 32px;
    stroke-dashoffset: 187;
    stroke-dasharray: 187;
    stroke-linejoin: round;
    stroke-linecap: round;
    animation: checkmark_animation 1.5s ease-out forwards;
  }
  
  @keyframes checkmark_animation {
    0% {
      stroke-dashoffset: 187;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  .score-increment {
    margin-top: 10px; /* Adjust the margin as needed */
    color: #4CAF50;
    font-size: 24px; /* Adjust the font size as needed */
  }
  
  .crossmark1, .crossmark2 {
    fill: none;
    stroke: #cc4e3d;
    stroke-width: 32px;
    stroke-dashoffset: 187;
    stroke-dasharray: 187;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
  .crossmark1 {
    animation: crossmark1_animation .4s ease-out forwards;
  }
  .crossmark2 {
    animation: crossmark2_animation .4s ease-out forwards;
  }

  .animation-container {
    width: 100px; /* You can adjust this value */
    height: 100px; /* You can adjust this value */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  @keyframes checkmark_animation {
    0% {
      stroke-dashoffset: 187;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes crossmark1_animation {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes crossmark2_animation {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 187;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  .button-group {
    display: flex;
    align-items: center;
  }
  
  .popup-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    position: absolute;
    top: 24px;
    right: 140px;
  }
  
  .popup-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#443646;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .close-button {
    background-color: #ab3333;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #000;
  }

  .leaderboard-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    position: absolute;
    top: 24px;
    right: 190px;
  }
  


